[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rCoreGage"]
	path = rCoreGage
	url = https://github.com/ganeshbabunn/rcoregage
